.header {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.header > h3,
h5 {
  margin: 0;
  padding-top: 20px;
  text-align: center;
}

/* Include any custom CSS styling here! */

.hoverable + .hover-target {
  opacity: 0;
}
.hover-target:hover,
.hoverable:hover + .hover-target {
  opacity: 1;
}

td.with-bar {
  position: relative;
  --padding: 0.25em;
  padding-left: var(--padding);
  color: white;
}
td.with-bar::before,
td.with-bar::after {
  position: absolute;
  height: calc(100% + 1px);
  z-index: -1;
  color: black;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
}
td.with-bar::before {
  content: attr(data-text);
  clip-path: inset(0 0 0 var(--width));
  padding: 1px var(--padding);
  z-index: 1;
}
td.with-bar::after {
  content: "";
  width: var(--width);
  background: steelblue;
  overflow-x: hidden;
}
